<div class="brush-palette">
  <div class="row ops">
    <button type="button" data-action="setOp" data-op="raise" class="{{#if (eq op 'raise')}}active{{/if}}" title="{{localize 'SCENE_ELEVATION.Brush.OpRaise'}}">
      <i class="fa-solid fa-arrow-up"></i>
    </button>
    <button type="button" data-action="setOp" data-op="lower" class="{{#if (eq op 'lower')}}active{{/if}}" title="{{localize 'SCENE_ELEVATION.Brush.OpLower'}}">
      <i class="fa-solid fa-arrow-down"></i>
    </button>
    <button type="button" data-action="setOp" data-op="set" class="{{#if (eq op 'set')}}active{{/if}}" title="{{localize 'SCENE_ELEVATION.Brush.OpSet'}}">
      <i class="fa-solid fa-equals"></i>
    </button>
    <button type="button" data-action="setOp" data-op="smooth" class="{{#if (eq op 'smooth')}}active{{/if}}" title="{{localize 'SCENE_ELEVATION.Brush.OpSmooth'}}">
      <i class="fa-solid fa-water"></i>
    </button>
  </div>
  <div class="row">
    <label>{{localize "SCENE_ELEVATION.Brush.Size"}}</label>
    <input type="range" data-key="size" min="{{bounds.SIZE_MIN}}" max="{{bounds.SIZE_MAX}}" step="0.1" value="{{size}}">
    <span class="value" data-for="size">{{size}}</span>
  </div>
  <div class="row">
    <label>{{localize "SCENE_ELEVATION.Brush.Height"}}</label>
    <input type="range" data-key="height" min="0" max="{{bounds.HEIGHT_MAX}}" step="0.1" value="{{height}}">
    <span class="value" data-for="height">{{height}}</span>
  </div>
  <div class="row">
    <label>{{localize "SCENE_ELEVATION.Brush.Fade"}}</label>
    <input type="range" data-key="fade" min="{{bounds.FADE_MIN}}" max="{{bounds.FADE_MAX}}" step="1" value="{{fade}}">
    <span class="value" data-for="fade">{{fade}}</span>
  </div>
</div>
